section {
  height: 100vh;
  background-color: rgb(42, 37, 49);
  border: solid rgb(197, 197, 197) 1px;
}
.hero {
 
  align-items: center;
  width: auto;
  justify-content: center;
  margin: auto;
  background-color: #1a1a1a;
  height: 100vh;
  color: #00ff15;
  font-size: 40px;
  height: 100vh;
}
nav {
  position: sticky;
  top: 0;
  height: 7%;
 font-variant: normal;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
  background-color: #00ff40;
  box-shadow: 0 3px 5px rgba(210, 3, 3, 0.1);
  border-radius: 12px;
  text-decoration: none;
  
}
nav
{
  height: 70px;
}
.navigation
{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:rgb(164, 97, 70);
  text-decoration: none;

}
.hero-subtext
{
  font-size: medium;
  box-shadow: 3px #ffffff;
}
footer {
  height: 50vh;
  background-color: rgb(120, 173, 221);
}
nav {
  display: flex;
  justify-content: space-between;
  font-family: 'Playfair Display', serif;}
ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
}
ul:hover{
  color:greenyellow;
}
li {
  text-decoration: none;
  font-size: 30px;
}

li:hover{
  color:greenyellow;
}

h1{
  font-size: 80px;
  margin:0px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
  font-weight: 300;
}
.hero-text{
  margin-left: 90px;
  align-items: center;
  font-family: 'Bebas Neue', cursive;
  
}
p{
  margin: 0%;
  font-family: 'Poppins', sans-serif;
}
.headshot
{
  display: flex;
}
.hero-area{
  display:flex;
  height:100%;
  justify-content: space-between;
  align-items: center;
}
.social{
  align-items :right;
  fill:#ffffff;
}
.button{
  width :200px;
  height: 65px;
  background-color: rgb(53, 53, 53);
  border-radius: 15px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  padding-top: 5px;
  margin-top: 20px;
  margin-bottom: 20px;



}
.sub-section{
  display: flex;
  justify-content:space-around;
  fill: white;
}
.socials
{
  display: flex;
 align-self: right;
  flex-direction: vertical;
  justify-content: right;
  
}
.social{
  margin:10px;
}
.button:hover{
  background-color: rgb(239, 6, 6);

}
.holo
{
  display: flex;
  align-items: center;
  height:0.02rem;
  width: 0.04em;
  justify-content: center;
  align-items: center;
}
.button.active
{
  background-color: grey;
}
h1:hover{
  color: red;
}
p:hover{
  color: rgb(219, 135, 135);
}
.logo
{fill:white;
  height:80px;
  margin:30px;
}
p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sub-section{
  display:flex;
  justify-content: space-around;
  padding :30px;
}
.info
{
  color:bisque;
  margin: 10px;
  padding: 40px;
  justify-items: center;
  
  
}
.container
{
  height:280px;
  width:280px;
 border-radius:50px;
}
.headshot{
  align-items: center;
}
.project
{
  display: flex;
  flex-direction: column;
 align-content: center;
}

.project-card
{
  display: flex;
  flex-direction: column;
  margin-left:5%;
  margin-bottom: 2%;
  display: flex;
  width: 85%;
  height: 150px;
  border:2px solid rgb(255, 255, 255);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 60px;
  border-top-left-radius: 20px;
  border-top-right-radius: 60px;
 
}
.project-image
{
  border: 2px solid pink;
  border-radius: 3px;
  width: 80px;
  height: 80px;
  margin: 40px;
  justify-self: center;
}
h2{
  font-size: 60px;
  margin-left : 60px;
  justify-content:center;
}
hr{
  margin-left: 20px;
  margin-right: 20px;
}
.project-link
{
  height: auto;
  width: auto;
  text-decoration:none;
  color: yellow;
}